In [1]:
import pandas as pd
import  numpy as np

#Read file version 5.json 
data = pd.read_json("Version 5.json", orient='records')

data.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4.0,2.0,177.0,3,low,F,44.0,1233.0,1.0
1,2,F,Flight,4.0,5.0,216.0,2,low,M,59.0,3088.0,1.0
2,3,A,Flight,2.0,2.0,183.0,4,low,M,48.0,3374.0,1.0
3,4,B,Flight,3.0,3.0,176.0,4,medium,M,10.0,1177.0,1.0
4,5,C,Flight,2.0,2.0,184.0,3,medium,F,46.0,2484.0,1.0

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1495 entries, 0 to 1494
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1495 non-null   int64
 1   Warehouse_block      1494 non-null   object
 2   Mode_of_Shipment     1493 non-null   object
 3   Customer_care_calls  1492 non-null   float64
 4   Customer_rating      1493 non-null   float64
 5   Cost_of_the_Product  1493 non-null   float64
 6   Prior_purchases      1494 non-null   object
 7   Product_importance   1493 non-null   object
 8   Gender               1494 non-null   object
 9   Discount_offered     1494 non-null   float64
 10  Weight_in_gms        1493 non-null   float64
 11  Reached.on.Time_Y.N  1493 non-null   float64
dtypes: float64(6), int64(1), object(5)
memory usage: 140.3+ KB

In [3]:
failed_data = data[data.Warehouse_block.isnull() |      data.Mode_of_Shipment.isnull() |      data.Customer_care_calls.isnull() |      data.Product_importance.isnull() |      data.Weight_in_gms.isnull() | data.Customer_rating.isnull() |      data.Cost_of_the_Product.isnull() |     data.Prior_purchases.isnull() |     data.Product_importance.isnull() |     data.Gender.isnull() |     data.Discount_offered.isnull() ]
failed_data.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
165,166,None,None,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN
185,186,F,Ship,3.0,2.0,209.0,3,None,M,54.0,3001.0,1.0
191,192,F,Ship,NaN,133.0,3.0,low,F,62,1596.0,1.0,NaN
239,240,F,Ship,2.0,3.0,158.0,3,low,M,10.0,NaN,1.0
1353,1348,B,None,NaN,NaN,NaN,6,low,M,30.0,2751.0,1.0

In [4]:
data.drop(failed_data.index, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1490 entries, 0 to 1494
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1490 non-null   int64
 1   Warehouse_block      1490 non-null   object
 2   Mode_of_Shipment     1490 non-null   object
 3   Customer_care_calls  1490 non-null   float64
 4   Customer_rating      1490 non-null   float64
 5   Cost_of_the_Product  1490 non-null   float64
 6   Prior_purchases      1490 non-null   object
 7   Product_importance   1490 non-null   object
 8   Gender               1490 non-null   object
 9   Discount_offered     1490 non-null   float64
 10  Weight_in_gms        1490 non-null   float64
 11  Reached.on.Time_Y.N  1490 non-null   float64
dtypes: float64(6), int64(1), object(5)
memory usage: 151.3+ KB

In [5]:
data["ID"] = data.index
data.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,0,D,Flight,4.0,2.0,177.0,3,low,F,44.0,1233.0,1.0
1,1,F,Flight,4.0,5.0,216.0,2,low,M,59.0,3088.0,1.0
2,2,A,Flight,2.0,2.0,183.0,4,low,M,48.0,3374.0,1.0
3,3,B,Flight,3.0,3.0,176.0,4,medium,M,10.0,1177.0,1.0
4,4,C,Flight,2.0,2.0,184.0,3,medium,F,46.0,2484.0,1.0

In [6]:
data.columns = ["ID","Warehouse_block","Shipment_method","Calls_to_customer_support","Customer_rating","Product_cost","Previous_purchases","Product_importance","Sex","Discount_offered","Weight_in_grams","Delivered_on_Time"]
data['ID'] = data['ID'].astype(int)
data['Warehouse_block'] = data['Warehouse_block'].astype('category')
data['Shipment_method'] = data['Shipment_method'].astype('category')
data['Calls_to_customer_support'] = data['Calls_to_customer_support'].astype(int)
data['Customer_rating'] = data['Customer_rating'].astype(int)
data['Product_cost'] = data['Product_cost'].astype(int)
data['Previous_purchases'] = data['Previous_purchases'].astype(int)
data['Product_importance'] = data['Product_importance'].astype('category')
data['Sex'] = data['Sex'].astype('category')
data['Discount_offered'] = data['Discount_offered'].astype(int)
data['Weight_in_grams'] = data['Weight_in_grams'].astype(int)
data['Delivered_on_Time'] = data['Delivered_on_Time'].astype('category')

In [7]:
data["Warehouse_block"].unique()

['D', 'F', 'A', 'B', 'C', 'AAAAAA']
Categories (6, object): ['A', 'AAAAAA', 'B', 'C', 'D', 'F']

In [8]:
data["Warehouse_block"] = data["Warehouse_block"].replace("AAAAAA", "A")
data["Warehouse_block"].unique()

['D', 'F', 'A', 'B', 'C']
Categories (5, object): ['A', 'B', 'C', 'D', 'F']

In [9]:
data["Shipment_method"].unique()

['Flight', 'Flightttttttttt', 'Ship', 'Road', '???']
Categories (5, object): ['???', 'Flight', 'Flightttttttttt', 'Road', 'Ship']

In [10]:
data["Shipment_method"] = data["Shipment_method"].replace("Flightttttttttt", "Flight")
data["Shipment_method"] = data["Shipment_method"].replace("???", "?")
data["Shipment_method"].unique()

['Flight', 'Ship', 'Road', '?']
Categories (4, object): ['?', 'Flight', 'Road', 'Ship']

In [11]:
data["Sex"].unique()

['F', 'M', 'Male', 'Female']
Categories (4, object): ['F', 'Female', 'M', 'Male']

In [12]:
data["Sex"] = data["Sex"].replace("Female", "F")
data["Sex"] = data["Sex"].replace("Male", "M")
data["Sex"].unique()

['F', 'M']
Categories (2, object): ['F', 'M']

In [ ]:
data.to_json("Version 6.json", orient='records')